Source: puppetlabs-release
Section: admin
Priority: extra
Maintainer: Puppet Labs <info@puppetlabs.com>
Uploaders: Moses Mendoza <moses@puppetlabs.com>, Matthaus Litteken <matthaus@puppetlabs.com>
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.9.2
Vcs-Git: git://github.com/puppetlabs/puppetlabs-release.git
Vcs-Browser: http://github.com/puppetlabs/puppetlabs-release.git
Homepage: http://apt.puppetlabs.com

Package: puppetlabs-release
Architecture: all
Depends: ${misc:Depends}
Conflicts: puppetlabs-release-devel (<< 1.0-3)
Replaces: puppetlabs-release-devel (<< 1.0-3)
Breaks: puppetlabs-release-devel (<< 1.0-3)
Description: "Package to install Puppet Labs gpg key and apt repo"

