[puppet7-nightly]
name=Puppet 7 Nightly Repository __OS_NAME__ __OS_VERSION__ - $basearch
baseurl=http://nightlies.puppet.com/yum/puppet7-nightly/__OS_NAME__/__OS_VERSION__/$basearch
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-2025-04-06-puppet7-nightly-release
       file:///etc/pki/rpm-gpg/RPM-GPG-KEY-puppet7-nightly-release
enabled=1
gpgcheck=1
