[puppet]
name=Puppet Repository __OS_NAME__ __OS_VERSION__ - $basearch
baseurl=http://yum.puppet.com/puppet/__OS_NAME__/__OS_VERSION__/$basearch
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-2025-04-06-puppet-release
       file:///etc/pki/rpm-gpg/RPM-GPG-KEY-puppet-release
enabled=1
gpgcheck=1
