[puppet7]
name=Puppet 7 Repository __OS_NAME__ __OS_VERSION__ - $basearch
baseurl=http://yum.puppet.com/puppet7/__OS_NAME__/__OS_VERSION__/$basearch
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-2025-04-06-puppet7-release
enabled=1
gpgcheck=1
