[puppet8]
name=Puppet 8 Repository __OS_NAME__ __OS_VERSION__ - $basearch
baseurl=http://yum.puppet.com/puppet8/__OS_NAME__/__OS_VERSION__/$basearch
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-puppet8-release
enabled=1
gpgcheck=1
